body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.header {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display:flex;
  align-items: center;
  z-index: 1; 
  
}

.header > * {
  margin: 0;
}

.header-right {
  float: right;
  padding-left: 460px;
  padding-top: 10px;
}

.login-button {
  font-size: 18px;
  color: #109db6;
  background: transparent;
  border: none;
}

.register-button {
  font-size: 18px;
  color: #109db6;
  background: transparent;
  border: none;
}

.login-button:hover{
  color: #095f6e;;
}

.register-button:hover{
  color: #095f6e;;
}


h1 {
  text-align: left;
  color: #0c7d91;
  padding-right: 50px;
  padding-left: 50px;
}

.curr-avail {
  border: none;
  font-weight: bold;
  font-size: 28px;
  color:#0c7d91;
  background-color: white;
  text-decoration: none;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 7px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.avail-soon {
  border: none;
  color:#ffffff;
  font-size: 28px;
  background-color: #109db6;
  font-weight: bold;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 15px;
  border-radius: 5px;
} 

button:hover {
  cursor: pointer;

}

.right-container {
  
  margin-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 26%;
  text-align: right;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #109db6;
  overflow: auto;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

input[type="text"], input[type="date"], input[type="time"], input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.page-container {
  display: flex;
  justify-content: space-between;
  
}

.left-container {
  width: 70%;
}

.poster {
  cursor: pointer;
  border: 4px solid transparent;
}

.poster.selected {
  border: 4px solid #109db6;
  opacity: 0.9;
  transform: scale(1.05);
}

.movie-container-toprow {
 
  display: flex;
  

}

.movie-container-toprow img {
  flex: 1;
  width: 250px;
  
}

.movie-container-midrow {
 
  display: flex;
  

}

.movie-container-midrow img {
  flex: 1;
  width: 250px;
  
}

.movie-container-botrow {
 
  display: flex;
  

}

.movie-container-botrow img {
  flex: 1;
  width: 250px;
  
}

img {
  transition: all 0.5s ease-in-out;
}

img:hover {
  transition: all 0.5s ease-in-out;
  opacity: 0.9;
  transform: scale(1.05);
}

input[type="submit"] {
  width: 100%;
  background-color: #0c7d91;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0c7d91;
}

.Video-player{
  width: 500px;
  height: 281px;
  border: 1px solid black;
  display: flex;
}

.Movie-Description{
  border: 1px solid black;
  width: 500px;
  height: 1000px;
  display: flex;
  overflow: auto;
  margin: 10px;
}

.movie-description{
  width: 460px;
  float: left;
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: antiquewhite;
}
