body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.header {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  display:flex;
  align-items: center;
  z-index: 1;
}

.header > * {
  margin: 0;
}

.header-right {
  float: right;
  padding-left: 460px;
  padding-top: 10px;
}

.login-button {
  font-size: 18px;
  color: #109db6;
  background: transparent;
  border: none;
}

.register-button {
  font-size: 18px;
  color: #109db6;
  background: transparent;
  border: none;

}

.login-button:hover{
  color: #095f6e;;
}

.register-button:hover{
  color: #095f6e;;
}

h1 {
  text-align: left;
  color: #0c7d91;
  padding-right: 50px;
  padding-left: 50px;
}

.curr-avail {
  border: none;
  font-weight: bold;
  font-size: 28px;
  color:#0c7d91;
  background-color: white;
  text-decoration: none;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 7px;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-right: 5px;
  border-radius: 5px;
  padding-right: 5px;
} 

.avail-soon {
  border: none;
  color:#0c7d91;
  font-size: 28px;
  background-color: white;
  font-weight: bold;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 10px;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 5px;
}

select[id = user-dropdown] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("imgs/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 15px 15px;
  padding-right: 20px;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: none!important;
  background-color: white;
  color: #109db6;
  font-size: 20px;
  cursor: pointer;

}

select[id = user-dropdown]:hover {
  color: #095f6e;
}

button:hover {
  cursor: pointer;

}

.right-container {
  
  margin-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 26%;
  text-align: right;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}


.bookids {
  margin-bottom: 2em; /* add some margin below each ID */
  text-align: left; /* align the text to the left */

}

.bookids:hover{
  background-color: #109db6;
  border-radius:10px;
  cursor:pointer;
  margin-right: 310px;
  color: white;
}

label {
  display: block;
  float: left;
  margin-bottom: 10px;
  font-size: 18px;
}

.page-container {
  display: flex;
  justify-content: space-between;
  
}

.left-container {
  width: 70%;
}

.contact{
  border: none;
  color: #109db6;
  font-size: 18px;
  text-decoration: none;
  background: transparent;
  border: none;
}

.contact:hover{
  color: #095f6e;;
}